<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Our Recipes</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div id="signInfo">
      {% if person %}
        <b>Signed in as: </b>{{ person }}
        <br>
      {% endif %}
      <a href="{{ url|safe }}">{{ url_linktext }}</a>
    </div>
    <hr>
    <ul>
      {% for recipe in recipes %}
      <li>
        <a href="recipeInfo?recipe_id={{ recipe.key() }}">
          {% if recipe.author %}
            <b>{{ recipe.author.nickname() }}</b> submitted:
          {% else %}
            An anonymous person submitted:
          {% endif %}
          <div>
            {% if recipe.avatar %}        
              <img src="img?img_id={{ recipe.key() }}"></img>
            {% else %}
              <img src="images/default.jpg"></img>
            {% endif %}
            <span id="recipe-title">
              {{ recipe.title }}
            </span>
          </div>
        </a>
      </li>
      {% endfor %}
      
    </ul>

    <form action="/submit?%s" enctype="multipart/form-data" method="post">
      <div>Title: <input type="text" name="title"></div>
      <div><label>Description:</label></div>
      <div><textarea name="description" rows="5" cols="60"></textarea></div>
      <div><label>Photo:</label></div>
      <div><input type="file" name="img"/></div>
      <div><input type="submit" value="Submit Recipe"></div>
    </form>
    
  </body>
</html>
{% endautoescape %}
