<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <ul>
    {% for recipe in recipes %}
    <li>
      {% if recipe.author %}
        <b>{{ recipe.author.nickname() }}</b> submitted:
      {% else %}
       An anonymous person submitted:
      {% endif %}
      <div id="listEntryCont"><img src="img?img_id={{ recipe.key() }}"></img>
        <blockquote>{{ recipe.content }}</blockquote>
      </div>
    </li>
    {% endfor %}
    
  </ul>

    <form action="/submit?%s" enctype="multipart/form-data" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><label>Photo:</label></div>
      <div><input type="file" name="img"/></div>
      <div><input type="submit" value="Submit Recipe"></div>
    </form>

  </body>
</html>
{% endautoescape %}
